# Файл с паролями и токенами (самое главное)
.env

# Виртуальное окружение
venv/
.venv/

# Кэш Python
__pycache__/
*.pyc

# Базы данных и бэкапы (чтобы не улетали на GitHub)
*.db
*.sqlite3

# Ключи доступа к Google API (если есть)
*credentials*.json
*service_account*.json
